extends layout

block content
  h2=user.name
  br
  form(action="/users/update/#{user.id}", method="post")
    span Default group  
    select(name="group_id")
      each group, i in groups
        option(value=i) #{group.name}
    p
      input(type="submit", value="Update user")
